@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__button-v1 {

  &:visited {
  }

  &:hover {
  }

  &:active,
  &:focus {
  }

  & + .hig__button-v1 {
    margin-left: 10px;
  }

  &.hig__button-v1--disabled {
  }
}

// Types
.hig__button-v1--type-primary {

  svg * {
  }

  &.hig__button-v1--disabled {
  }
}

.hig__button-v1--type-secondary {

  &.hig__button-v1--disabled {
  }
}

.hig__button-v1--type-flat {

  &.hig__button-v1--disabled {
  }
}

.hig__button-v1--type-secondary,
.hig__button-v1--type-flat {

  &:visited {
  }

  &:hover {
  }

  &:active,
  &:focus {

    svg * {
    }
  }

  &.hig__button-v1--disabled {
  }
}

// Sizes
.hig__button-v1--size-small {
}

.hig__button-v1--size-standard {
}

.hig__button-v1--size-large {
}

.hig__button-v1__icon {

  > .hig__icon {
    display: inline;
    position: initial;
    padding-left: 16px;
  }

  .hig__button-v1--disabled & {
    .hig__icon {
      opacity: 0.2;
    }
  }
}
