@import "~@hig/styles/mixins/base.scss";
@import "~@hig/styles/mixins/colors.scss";
@import "~@hig/styles/mixins/shadows.scss";
@import "~@hig/styles/mixins/typography.scss";

.hig__top-nav {
  @import "./tokens.scss";

  @include reset;
  @include shadow("dropshadow");

  display: flex;
  position: relative;
  height: $top-nav-height;
  min-height: $top-nav-height;
  padding-left: 7px;
  justify-content: space-between;
  align-items: stretch;
  z-index: $top-nav-layer;
  background: color(hig-white);
}

.hig__top-nav__item {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;

  & + &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    bottom: 12px;
    border-left: 1px solid color(hig-cool-gray-20);
  }
}

.hig__top-nav__spacer {
  flex: 1 1 0;
}

.hig__top-nav__logo-wrapper {
  display: flex;
  padding: 0 12px 0 5px;
  align-items: center;
  line-height: 0;
}

.hig__top-nav__logo {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.hig__top-nav__logo-text {
  @include typography-base;

  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.hig__top-nav__interactions {
  display: flex;
  align-items: center;

  // .hig__notifications .hig__global-nav__top-nav__shortcut {
  //   padding: 0;
  // }
}

.hig__top-nav__action {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 56px;
  cursor: pointer;

  &.hig__top-nav__action--fit-content {
    width: auto;
    height: auto;
  }

  &.hig__top-nav__action--icon-button,
  &.hig__top-nav__action--button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    outline: 0;

    // No button movement on Firefox
    &:active {
      padding: 0;
    }
  }

  &.hig__top-nav__action--divider-left,
  &.hig__top-nav__action--divider-right,
  &.hig__top-nav__action--divider-both {
    border-color: #ccc;
    border-style: solid;
  }

  &.hig__top-nav__action--divider-left {
    border-width: 0 0 0 1px;
  }

  &.hig__top-nav__action--divider-right {
    border-width: 0 1px 0 0;
  }

  &.hig__top-nav__action--divider-both {
    border-width: 0 1px 0 1px;
  }

  &.hig__top-nav__action--spacing-left {
    padding: 0 0 0 12px;
  }

  &.hig__top-nav__action--spacing-right {
    padding: 0 12px 0;
  }

  &.hig__top-nav__action--spacing-both {
    padding: 0 12px;
  }

  &.hig__top-nav__action--icon-button {
    // This is required since our Icons have predefined fills
    // and the Icon doesn't allow for custom colors.
    // TODO: Implement custom colors via theme in the Icon component.
    &:hover > .hig__icon > svg * {
      fill: #0696d7;
    }

    &.hig__top-nav__action--spacing-left {
      padding: 0 0 0 6px;
    }

    &.hig__top-nav__action--spacing-right {
      padding: 0 6px 0;
    }

    &.hig__top-nav__action--spacing-both {
      padding: 0 6px;
    }
  }
}

.hig__top-nav__profile-flyout-content {
  @include reset;

  padding: 4px 14px;
}

.hig__top-nav__profile-flyout-content__name {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  color: #222934;
}

.hig__top-nav__profile-flyout-content__email {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #565c5f;
  line-height: 16px;
  font-size: 12px;
}
